**/*.pyc
*.pyc
**/*~
venv
*.egg-info
build
dist
testdata
catcache
initial-catalogue.fits
match_proc*.fits
stds_proc*.fits
*.fits
!testing/hjd_example_catalogue.fits
tmp/*
*.swp
!emcee-testdata/casuin.fits
!emcee-testdata/chain_name.fits
!emcee-testdata/catcache
